streamlit==1.39.0
groq
langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.0.3
langchain-groq==0.2.2
chromadb==0.5.23
pymupdf
python-docx
sentence-transformers
langchain-text-splitters==0.3.0
